pipeline/PL1_main.json
{
	"name": "PL1_main",
	"properties": {
		"activities": [
			{
				"name": "Get Filenames",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS1_blob_input",
						"type": "DatasetReference",
						"parameters": {
							"filename": " "
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Filenames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Filenames').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS1_blob_input",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS1_SQL",
									"type": "DatasetReference",
									"parameters": {
										"tablename": {
											"value": "@split(item().name, '.')[0]",
											"type": "Expression"
										},
										"schema": "raw"
									}
								}
							]
						},
						{
							"name": "Cleaning",
							"type": "ExecuteDataFlow",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "DF1_clean",
									"type": "DataFlowReference",
									"datasetParameters": {
										"source1": {
											"tablename": {
												"value": "@split(item().name, '.')[0] ",
												"type": "Expression"
											},
											"schema": "raw"
										},
										"sink1": {
											"tablename": "@split(item().name, '.')[0] ",
											"schema": "prep"
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						},
						{
							"name": "Joining",
							"type": "ExecuteDataFlow",
							"dependsOn": [
								{
									"activity": "Cleaning",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "DF1_joining",
									"type": "DataFlowReference",
									"datasetParameters": {
										"Quiz": {
											"tablename": "Quiz",
											"schema": "prep"
										},
										"Question": {
											"tablename": "Question",
											"schema": "prep"
										},
										"Option": {
											"tablename": "Option",
											"schema": "prep"
										},
										"Admin": {
											"tablename": "Admin",
											"schema": "prep"
										},
										"User": {
											"tablename": "User",
											"schema": "prep"
										},
										"UserQuiz": {
											"tablename": "UserQuiz",
											"schema": "prep"
										},
										"UserAnswer": {
											"tablename": "UserAnswer",
											"schema": "prep"
										},
										"sink1": {
											"tablename": "result1",
											"schema": "report"
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-08-30T04:42:11Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}